body{
    margin: auto;
    background-image: url('../images/home.jpg');
    background-repeat: no-repeat;
    background-size: 100% 150% ;
    background-position: center center;
}
header{
    margin: 0px 80px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.navbar a{
    /* text-decoration: none; */
    color: whitesmoke;
    padding: 5px;
}
.navbar a:hover{
    text-decoration: none;
    color: darkgray;
    background-color: antiquewhite;
    padding: 5px;
}
.container{
    color: aliceblue;
    margin: 75px auto;
    padding: 25px 0px;
    width: 30%;
    height: 40%;
    border: none;
    background-color: rgba(43, 48, 45, 0.4);
}
/* Login form */
.form{
    margin: 30px;
}
.form .input{
    width: 70%;
    padding: 5px 15px;
    margin: 5px 0px;
}
.form #button{
    width: 30%;
    padding: 5px 15px;
    margin: 5px 0px;
}
.form span{
    margin-left: 5px;
}
/* Sign-up form */
.signUp-form{
    margin: 30px;
}
.signUp-form .row-input{
    display: flex;
    margin: 5px 0px;
}
.signUp-form .row-input input{
    width: 50%;
    padding: 5px 15px;
}
.signUp-form .img-input{
    background-color: aliceblue;
    color: darkgray;
    padding: 5px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0px;
}
.signUp-form .img-input input{
    width: 55%;
    padding: 5px 15px;
}
